# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Outputs (generated during training)
outputs/
*.bin
*.safetensors

# Environment
.env

# File
dry-tests/
notebooks/unsloth_compiled_cache/
.python-version
notebooks/Qwen3-4B_Instruct_Financial_sentiment_fine-tuned.ipynb