# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Outputs (generated during training)
outputs/
*.bin
*.safetensors

# Environment
.env

# File
notebooks/00_environment_setup.ipynb
notebooks/01_financial_sentiment.ipynb
notebooks/02_medical_chat.ipynb
